{% extends "skeleton.html" %}
{% block content %}
    <h1>Projects</h1>
    {% for project in projects %}
        {{ project.status }}
        {% if project.status.status == "Public" %}
            <ul id="project-list">
                <li>
                    <h3>{{ project.title }}</h3>
                    <p class="project-description">{{ project.description }}</p>
                </li>
            </ul>
        {% endif %}
    {% empty %}
        <p>No projects yet!</p>
    {% endfor %}
{% endblock %}
